#ans- 1
data structures are way to store data , to organise the data and manipulate the data. Data structures are important to organize the data and perform different operations on the data.

#ans- 2
mutable datatype:
the datatypes whose data can be manipulated or modified is known as mutable data type. ex - lists.

immutable datatype: 
the datatypes whose data cannot be manipulated or modified is known as immutable data type. ex - strings.

#ans- 3
The main differences between lists and tuples in Python are -
lists are mutable , represented with "[]" brackets
ex - li = [2,3,4,3.3]
and 
tuples are immutable , represnted with "()" brackets
ex - tu = (2, 4,4,2 1.2 )

#ans- 4
dictionaries stores the data in the form of key: values pairs.
ex - d = {"name" : "abhi", "roll" : 23}

#ans- 5
sets are used when we want to store unique elements. so when we need uniqueness and distint elements to store we uses sets over lists.

#ans- 6
string is a sequence of characters enclosed with ('') or (""), these are used for text handling and manipulation.
ex- s1 = "Abhishek"
each charater of string is assigned an index starting from 0 .
strings are immutable 

strings are different from lists as - lists are mutable and stores data in [] bracets.

#ans- 7
tuples are immutable i.e., once created a tuple it's elements can not be modified , added or removed which ensures the data integrity and consistency.

#ans- 8

#ans- 9
yes, lists are heterogenous i.e., can store different datatypes 
ex- l1 = [2, 2.2, "abhi", 3+5j ]

#ans- 10
strings are immutable in python because once a string is created, it cannot be changed.

#ans- 11
A key advantage of using dictionaries over lists in Python is their efficiency in searching and accessing elements. Dictionaries are implemented as hash tables, allowing for constant time complexity (O(1)) when retrieving a value using its key.

#ans- 12
when we require to maintain data consistency and integrity,

#ans- 13
Sets in Python are designed to store unique elements. When you add duplicate values to a set, Python automatically removes the duplicates, ensuring that each element appears only once. Here's a concise explanation:

Automatic Deduplication: If you try to add the same value multiple times, the set will only keep one instance of it.
Unordered Collection: Sets are unordered, so the elements are not stored in any specific sequence.

#ans- 14
When used with a list, the in keyword checks if a value exists within the list. This operation involves iterating through the list sequentially and comparing each element with the target value.
When used with a dictionary, the in keyword checks for the presence of a key, not a value. If you want to check for a value, you need to use the .values() method explicitly.

#ans- 15
we cannot modify the elements of tuples because tuples are immutable.

#ans- 16
nested dictionaries are dictionaries that contains dictionaries inside dictionaries .
ex-
students = {
    "student1": {"name": "Alice", "age": 20, "grade": "A"},
    "student2": {"name": "Bob", "age": 22, "grade": "B"},
    "student3": {"name": "Charlie", "age": 21, "grade": "A"},
}
use cases: 
1 - Organizing data like student records, product catalogs, or hierarchical structures.
2 - Storing grouped or related data in a structured way.

#ans- 17
Dictionaries are implemented as hash tables, allowing for constant time complexity (O(1)) when retrieving a value using its key.

#ans- 18
For sequential access and storage efficiency, lists are preferable

#ans- 19
dictionaries are considered unordered because there is no concept of indexes and elements are accessed with the help of keys, the order of storing is not consistent.

#ans- 20
in lists data is retrieved with the help of indeces
ex: l = [2,4,6,7,8]
print(l[0])

in dictionaries, the data is retrived with the help of keys 
ex: d = {"name" : "abhi", "add" : "ghaziabad"}
print(d[name])

***practical questions***

In [3]:
#ans- 1
str = "Abhishek"
print(str)

Abhishek

In [4]:
#ans- 2
print(len("Hello World"))

11

In [5]:
#ans- 3
str = "Python Programming"
print(str[0:3])

Pyt

In [7]:
#ans- 4
str ="hello"
print(str.upper())

HELLO

In [9]:
#ans- 5
str = "I like apple"
new_str = str.replace("apple", "orange")
print(new_str)

I like orange

In [20]:
#ans- 6
l1 = [1,2,3,4,5]
print(l1)

[1, 2, 3, 4, 5]

In [21]:
#ans- 7
l1.append(10)
print(l1)

[1, 2, 3, 4, 5, 10]

In [22]:
#ans-8
l1.pop(2)

3

In [23]:
#ans- 9
l2 = ['a', 'b', 'c', 'd']
print(l2[1])

b

In [24]:
#ans- 10
l3 = [10, 20, 30, 40, 50]
print(l3[::-1])

[50, 40, 30, 20, 10]

In [25]:
#ans- 11
t1 = (100, 200, 300)
print(t1)

(100, 200, 300)

In [32]:
#ans- 12
t2 = ('red', 'green', 'blue', 'yellow')
print(t2[1:])

('green', 'blue', 'yellow')

In [35]:
#ans-13
t3 = (10, 20, 5, 15)
print(min(t3))

5

In [36]:
#ans- 14
t4 = ('dog', 'cat', 'rabbit')
idx = t4.index("cat")
print(idx)

1

In [39]:
#ans- 15
t5 = ("mango", "apple", "banana")
if "kiwi" in t5:
    print("present")
else:
     print("not present")

not present

In [44]:
#ans- 16
s1 = {'a','b','c'}
print(s1)

{'b', 'a', 'c'}

In [46]:
#ans- 17
s2= {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [49]:
#ans- 18
s3 ={1, 2, 3, 4}
s3.remove(4)
print(s3)

{1, 2, 3}

In [51]:
#ans- 19
set1 = {1, 2, 3} 
set2 = {3, 4, 5}
set3 = set1 | set2
print(set3)

{1, 2, 3, 4, 5}

In [52]:
#ans- 20
set4 = {1, 2, 3}
set5 = {2, 3, 4}
print(set4 & set5)

{2, 3}

In [53]:
#ans - 21
my_dic = {"name": "Abhishek", "age": 20, "city": "ghaziabad"}
print(my_dic)

{'name': 'Abhishek', 'age': 20, 'city': 'ghaziabad'}

In [59]:
#ans- 22
dic1 = {'name': 'John', 'age': 25}
dic1["country"] = "USA"
print(dic1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [60]:
#ans- 23
dic2 = {'name': 'Alice', 'age': 30}
print(dic2["name"])

Alice

In [62]:
#ans- 24
dic3 =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dic3["age"]
print(dic3)

{'name': 'Bob', 'city': 'New York'}

In [63]:
#ans- 25
dic4 =  {'name': 'Alice', 'city': 'Paris'}
"city" in dic4

True

In [66]:
#ans- 26
#list
lis = [2, 3, 2.2, True]
tup = (1,2 ,True, 4.5)
dicti = {"name":"abhi", "city": "delhi"}
print(lis)
print(tup)
print(dicti)

[2, 3, 2.2, True]
(1, 2, True, 4.5)
{'name': 'abhi', 'city': 'delhi'}

In [69]:
#ans- 27
lis1 = [4, 30, 100, 19, 1]
print(sorted(lis1))

[1, 4, 19, 30, 100]

In [70]:
#ans- 28'
lis2 = ["abhi", "vishu", "babbu", "pujju"]
print(lis2[3])

pujju

In [73]:
#ans- 29
dicti1 = {'name': 'Alice', 'city': 'Paris'}
dicti2 = {'age': 20, 'phn. no.':'9873356171'}
print(dicti1 | dicti2)

{'name': 'Alice', 'city': 'Paris', 'age': 20, 'phn. no.': '9873356171'}

In [76]:
#ans- 30
lis3 = ["abhi", "vishu", "babbu", "pujju"]
my_set = set(lis3)
print(my_set)

{'abhi', 'vishu', 'babbu', 'pujju'}